.relative {
  position: relative;
  z-index: 1;
}
.main_container {
  display: flex;
  flex-direction: column;
  margin: -10px;
  z-index: -1;
  background: hsl(218, 30%, 20%);
  height: fit-content;
  width: inherit;
}
// .heading h1 {
//   position: absolute;
//   top: -2vw;
//   bottom: 0;
//   left: 5%;
//   height: fit-content;
// }

.heading {
  margin: 10px;
}

// i.fa-solid {
//   color: var(--yellow) !important;
// }

.heading::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--yellow);
  top: 0;
  bottom: 92.5%;
  width: 12%;
  left: 5%;
  /* height: 0; */
}

.flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex_cols {
  flex: 2;
}

.resume_container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 30px;
  margin-left: 10px;
}
.resume_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  ul li {
    list-style: disclosure-closed;
    margin-left: 14px;
  }
}

.resume_content > div {
  display: flex;
  gap: 8px;
}

// .resume_container::before {
//   content: "";
//   border-left: 1px solid var(--yellow);
//   position: absolute;
//   top: 6vw;
//   right: 95.5%;
//   bottom: 0;
//   height: 12vw;
// }

.resume_heading {
  display: flex;
  align-items: center;
  gap: 12px;
}

.resume_row_one,
.resume_row_two {
  display: flex;
  gap: 32px;
  margin-left: 4px;
}

@media screen and (max-width: 767px) {
  .main_container {
    flex-direction: column;
    flex-wrap: unset;
  }
  .flex_cols {
    flex-direction: column;
  }
  .heading h1 {
    position: unset;
  }
  .flex_cols {
    margin: 20px auto;
  }
  .heading::after {
    bottom: 95.3%;
    width: 24%;
    left: 9%;
  }
}
