.nav_background {
  display: flex;
  justify-content: end;
  background: hsl(218, 30%, 20%);
  width: 840px;
  float: right;
  border-radius: 30px 30px 0 0;
  z-index: 0;
  position: relative;
}

.nav_main {
  display: flex;
  justify-content: end;
  gap: 24px;
  background: var(--theme-background);
  padding: 20px 40px;
  border-radius: 0 30px 0 30px;
}

.text_white a, .text_white {
  color: var(--yellow);
}

.text_black a, .text_black {
  color: #fefefe;
}

.hidden {
  display: none;
  animation: slideOut ease-out 0.3s;
}
.flex {
  display: flex;
  position: absolute;
  top: -50px;
  right: 2%;
  z-index: 1;
  background: var(--inner-background);
  animation: slideIn ease-in-out 0.3s;
  border-radius: 8px;
}
.nav_mobile {
  padding: 10px 40px;
  margin: auto;
  li {
    padding: 10px 0;
    text-align: center;
  }
}

.nav_mobile_main {
  display: none;
}
.harmburger {
  transform: translate(-20px, -80px);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@media only screen and (max-width: 767px) {
  .nav_main {
    display: none;
  }
  .nav_mobile_main {
    display: block;
    img {
      position: fixed;
      top: 1%;
      left: 90%;
      right: 0;
      bottom: 0;
    }
  }
  .nav_background {
    background: unset;
    z-index: 9999;
  }
}