.relative {
  position: relative;
  z-index: 1;
}

.main_container {
  margin: -10px;
  z-index: -1;
  background: hsl(218, 30%, 20%);
  height: fit-content;
  width: inherit;
}

// .heading h1 {
//   position: absolute;
//   top: -2vw;
//   bottom: 0;
//   left: 5%;
//   height: fit-content;
// }

.heading,
.content {
  margin: 10px;
}

.heading::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--yellow);
  top: 0;
  bottom: 96.6%;
  width: 12%;
  left: 5%;
  /* height: 0; */
}

.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px 0;
}

.portfolioBox {
  background: var(--theme-background);
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 16px;
    transition: transform 0.3s ease;
    object-position: center;
  }

  h4 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: var(--yellow);
    font-weight: 600;
  }

  .captionContainer {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    gap: 10px;
    margin-top: 8px;
  }

  span {
    color: var(--grey);
    font-size: 0.9rem;
    display: block;
    margin-top: 8px;
  }

  .portfolioImageWrapper {
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #ddd;
    transition: transform 0.3s ease;
  }

  .portfolioImageWrapper:hover {
    transform: scale(1.05);
  }

  img:hover {
    transform: scale(1.05);
  }
}

.stackIcon {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  // animation: rotate 5s linear infinite;
}

.stackIconsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.acfIcon {
  width: 24px !important;
  height: auto;
  display: inline-block;
}


// @keyframes rotate {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

@media screen and (max-width: 767px) {
  .heading::after {
    bottom: 98.3%;
    width: 24%;
    left: 9%;
  }

  .main_container {
    flex-direction: column;
    flex-wrap: unset;
  }
  .heading h1 {
    position: unset;
  }

  .portfolioContainer {
    grid-template-columns: 1fr;
  }

  .portfolioBox {
    padding: 15px;
  }

  h4 {
    font-size: 1.1rem;
  }
}
